.ui-header{
	border-bottom: none;
	text-align: center;
	height: 50px;
	.file-name{
		font-size: 17px;
		color: #545f65;
		margin: 0px 10px;
	}
}

.window-container{
  display: inline-block;
  width: 100%;
  height: ~'calc(100% - 50px)';
  padding: 0px 60px;
  box-sizing: border-box;
}

.text{
  width: ~'calc(100% - 30px)';
  box-sizing: border-box;
  min-height: 31px;
  color: #4c5158;
  /*height: 100%;*/
  font-family: monospace;
}